<%- include('partials/header'); -%>
<h1><%= title %></h1>

<ul>
  <% author_list.forEach(function(author){ %>
  <li>
    <a href=" <%= author.url %> "><%= author.name %></a>
    (<%= author.date_of_birth %> - <%= author.date_of_death %>)
  </li>
  <% }); %>

  <!-- Implementar mensje si no hay instancias de libros -->
</ul>
