<%- include('partials/header'); -%>
<h1><%= title %></h1>
<h1>ID: <%= bookinstance._id %></h1>
<p>
  <strong>Title: </strong
  ><a href="<%= bookinstance.book.url %>"> <%= bookinstance.book.title %> </a>
</p>
<p><strong>Imprint: </strong><%= bookinstance.imprint %></p>

<p><strong>Status: </strong><%= bookinstance.status %></p>

<% if (bookinstance.status != 'Available'){ %>
<p><strong>Due back: </strong><%= bookinstance.due_back %></p>
<% } %>

<!-- Implementar mensje si no hay instancias de libros -->
